h1{
    color: rgb(25, 3, 46);
    text-align: center;
    text-decoration: underline;
}

h2{
    color: rgb(25, 3, 46);
    text-align: left;
    text-decoration: underline;
    font-weight: normal;
}

li{
  color:white;
}

p {
   color:whitesmoke;
   text-align: left;
}

button{
    color: aquamarine;
    background-color: blueviolet;
}

body{
    background-color: rgb(145, 124, 165);
} 

#class{
    color: black   ;
    background-color:white;
}